
.header-page{	
	margin-top:20px;
	margin-bottom: 30px;
	margin:auto;
	text-align:center;
	min-width:1280px;
}

.table-demo {
	width: 100%;
	min-width:1920px;
	bolder-collapse: collapse;
}

.table-demo thead, tbody, tr, td, th { 
	display: block;
 }

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

.table-demo  thead th {
	height: 30px;
	text-align: left;
}

.table-demo tbody {
	display:block;
	height: 500px;;
	overflow-y: auto;
	overflow: auto;
}
::-webkit-scrollbar {
display: none;
}

.table-demo thead {
	color: white;
	/*padding-right: 17px;*/
	/* fallback */
}
.table-demo tbody {
	color: blue;
	/* fallback */
}


.table-demo tbody td{
	border: 1px solid grey;
}

.table-demo  thead th {
		background-color: black;
}

.table-demo  tbody td, thead th {
	font-size: 14px;;
	width: 3%;
	font-family: Tahoma;
	/*min-width:65px;*/
	float: left;
	border: 1px solid grey;
}

 .table-demo tr th:nth-child(1),
 .table-demo tr td:nth-child(1){
	float: left;
	min-width:120px;
	border: 1px solid blue;
}

 .table-demo tr th:nth-child(2),
 .table-demo tr td:nth-child(2){
	float: left;
	min-width:80px;
	border: 1px solid yellow;
}

 .table-demo tr th:nth-child(4),
 .table-demo tr td:nth-child(4){
	float: left;
	min-width:100px;
	border: 1px solid red;
}
 .table-demo tr th:nth-child(6),
 .table-demo tr td:nth-child(6){
	float: left;
	min-width:100px;
	border: 1px solid red;
}
 .table-demo tr th:nth-child(7),
 .table-demo tr td:nth-child(7){
	float: left;
	min-width:100px;
	border: 1px solid red;
}

 .table-demo tr th:nth-child(9),
 .table-demo tr td:nth-child(9){
	float: left;
	min-width:90px;
	border: 1px solid cyan;
}
 .table-demo tr th:nth-child(10),
 .table-demo tr td:nth-child(10){
	float: left;
	min-width:90px;
	border: 1px solid fushia;
}